@model IEnumerable<HairDresser1.Models.HairDresserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaloonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairdresserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairdresserSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairdresserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairdresserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairdresserDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaloonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairdresserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairdresserSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairdresserPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairdresserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairdresserDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
